<h1>Login Page</h1>
<div class="credentials-form">
    <form method="POST" action="/auth/login">
        <label for="email-field">Email:</label>
        <input id="email-field" type="text" name="email">
        <label for="password-field">Password:</label>
        <input id="password-field" type="password" name="password">
        <input type="submit" value="Log In">
    </form>
</div>