<h1>Sign up page</h1>
<div class="credentials-form">
    <form method="POST" action="/auth/signup">
        <label for="firstname-field">First Name:</label>
        <input id="firstname-field" type="text" name="firstname">
        <label for="lastname-field">Last Name:</label>
        <input id="lastname-field" type="text" name="lastname">
        <label for="username-field">Username:</label>
        <input id="username-field" type="text" name="username">
        <label for="password-field">Password:</label>
        <input id="password-field" type="password" name="password">
        <label for="password-verify-field">Verify Password:</label>
        <input id="password-verify-field" type="password" name="passwordverify">
        <label for="email-field">Email:</label>
        <input id="email-field" type="text" name="email">
        <label for="birthday-field">Birthday:</label>
        <input id="birthday-field" type="text" name="birthday">
        <label for="profile-field">Profile Pic:</label>
        <input id="profile-field" type="text" name="profile">
        <label for="bio-field">Bio:</label>
        <textarea id="bio-field" name="bio"></textarea>


        <input type="submit" value="Sign Up">
    </form>
</div>