<% if (alerts && alerts.error) { %>
	<div class="error-box closeable-box">
		<button id="close-error" class="close-button">X</button>
		<h2>Error:</h2>
		<hr>
		<% alerts.error.forEach(msg => { %>
			<p><%=msg%></p>
		<% }) %>
	</div>
<% } %>

<% if (alerts && alerts.success) { %>
	<div class="success-box closeable-box">
		<button id="close-success" class="close-button">X</button>
		<h2>Success:</h2>
		<hr>
		<% alerts.success.forEach(msg => { %>
			<p><%=msg%></p>
		<% }) %>
	</div>
<% } %>

<script>
	[...document.getElementsByClassName('close-button')].forEach(element => {
		element.addEventListener("click", function() {
			[...document.getElementsByClassName("closeable-box")].forEach(box => {
				box.style.display = "none";
			})
		})
	})
</script>