<!DOCTYPE html>
<html>
    <head>
        <title>Pedals and Pints</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
        <% include ./partials/header %> 
        <div class="container">
        	<% include ./partials/alerts %>
        <%- body %>
        </div>
        <% include ./partials/footer %>
    </body>
</html>