html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

nav {
    background-image: linear-gradient(#840, #420);
    font-size: 28px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    margin: 8px 0;
    display: inline;
    padding-left: 0px;  
}

nav ul li {
    display: inline;
    padding: 5px 15px;
}

nav ul li a {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: chartreuse;
}

form {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin: 0 auto;
/*    border: 1px solid grey;
    box-shadow: 10px 5px 5px black;
    border-radius: 25px;
*/    padding: 2%;
/*    background-image:  linear-gradient(#840, #420);
*/    /* background-image: repeating-linear-gradient(red, yellow 10%, green 20%); */
}

input, textarea, select {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

input[type=submit] {
    padding: 4px;
    min-width: 200px;
    max-width: 256px;
}

h1, h2, h3 {
    margin: 10px 8px;
    text-align: center;
    font-family: sans-serif;
}

img {
    margin: 10px;
}



.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.credentials-form input {
    max-width: 50%;
    margin: 10px 0px;
    padding: 1%;
}

.credentials-form input[type=submit] {
    max-width: 175px;
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 15px;
}

.btn {
    align-self: center;
}

.btn-action {
    background-color: orange;
}

.btn-edit {
    background-color: darkgreen;
    color: white;
}

.btn-danger {
    background-color: darkred;
    color: white;
}
.error-box {
    background-color: red;
    color: white;
    font-family: sans-serif;
    padding: 20px;
}

.event-container {
    text-align: left;
    border: 3px solid #840;
    border-radius: 20px;
    margin: 8px 0;
    padding: 12px;
}

.event-container img {
    margin: 0 20px 10px 0;
    max-width: 128px;
    max-height: 128px;
}

.event-logo {
    float: left;
}

.event-title {
    font-weight: bold;
    font-size: 2em;
    margin: 0;
    padding: 0;
}

.homepagetext {
    margin: 20px;
}

.small-text {
    font-size: .7em;
}

.success-box {
    background-color: lightgreen;
    color: darkgreen;
    font-family: sans-serif;
    padding: 20px;
}

.container {
    margin: 0 15%;
    background-color: #EEE;
    height: 100%;
}

.left, .right {
    padding: 10px;
}

.left img {
    height: auto;

}
.left {
 float: left;
}

.banner {
    background-color: hotpink;
    color: chartreuse;
    font-weight: bold;
    padding: 20px;
    margin: 0;
}

.banner h1, .banner h2 {
    margin: 0;
}

.close-button {
    float: right;
    cursor: pointer;
}

.right {
    text-align: right;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #CCC;
    font-size: 16px;
    color: black;
    padding: 2px;
}